name: Deploy

on:
  push:
    branches:
      - '**'
    paths:
      - 'src/**'
      - '.github/workflows/main.yml'
      - 'package.json'
    tags:
      - "v*"
  pull_request:
    branches: [main]
    paths: ['package.json', "pnpm-lock.yaml"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    strategy:
      fail-fast: false
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
            fail_ci_if_error: true
            files: ./coverage/cobertura-coverage.xml
            env_vars: NODE
            token: ${{ secrets.CODECOV_TOKEN }}
        env:
            NODE: ${{ matrix.node-version }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Report Variables
        run: |
          echo "GitHash=${{ github.sha }}" >> $GITHUB_ENV
          echo "BuiltTime=$(git show -s --format=%ci ${GITHUB_SHA::8})" >> $GITHUB_ENV

      - name: Deploy to Cloudflare with Wrangler
        uses: cloudflare/wrangler-action@v3.13.0
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          command: deploy
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          wranglerVersion: 4.51.0
          secrets: |
            GitHash
            BuiltTime
        env:
          GitHash: ${{ env.GitHash }}
          BuiltTime: ${{ env.BuiltTime }}
