name: Deploy

on:
  push:
    branches:
      - '**'
    paths:
      - 'src/**'
      - '.github/workflows/main.yml'
      - 'package.json'
    tags:
      - "v*"
  pull_request:
    branches: [main]
    paths: ['package.json', "pnpm-lock.yaml"]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    strategy:
      fail-fast: false
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm run test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
            fail_ci_if_error: true
            files: ./coverage/cobertura-coverage.xml
            env_vars: NODE
            use_oidc: true
        env:
            NODE: ${{ matrix.node-version }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          use_oidc: true
          report_type: 'test_results'

      - name: Report Variables
        run: |
          echo "GitHash=${{ github.sha }}" >> $GITHUB_ENV
          echo "BuiltTime=$(git show -s --format=%ci ${GITHUB_SHA::8})" >> $GITHUB_ENV

      - name: Deploy to Cloudflare with Wrangler
        uses: cloudflare/wrangler-action@v3.14.1
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          command: deploy
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          wranglerVersion: 4.51.0
          secrets: |
            GitHash
            BuiltTime
        env:
          GitHash: ${{ env.GitHash }}
          BuiltTime: ${{ env.BuiltTime }}
